:root {
    // COLORS ------------
    --primary-color: #ffffff;
    --secondary-color: #1c1c1c;
    --tertiary-color: #0282f9;
    --fourthy-color: #303030;

    // CONTAINERS ------------
    --container-md: 75rem







}






